<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guardlbt.mapper.WinningMapper">
  <resultMap id="BaseResultMap" type="com.guardlbt.entity.Winning">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="code_id" jdbcType="VARCHAR" property="codeId" />
    <result column="winning_code" jdbcType="VARCHAR" property="winningCode" />
    <result column="is_winning" jdbcType="INTEGER" property="isWinning" />
    <result column="fist_time" jdbcType="TIMESTAMP" property="fistTime" />
    <result column="search_number" jdbcType="INTEGER" property="searchNumber" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, code_id, winning_code, is_winning, fist_time, search_number, update_time
  </sql>
  <select id="selectByExample" parameterType="com.guardlbt.entity.WinningExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_winning
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_winning
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_winning
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.guardlbt.entity.WinningExample">
    delete from t_winning
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.guardlbt.entity.Winning">
    insert into t_winning (id, code_id, winning_code, 
      is_winning, fist_time, search_number, 
      update_time)
    values (#{id,jdbcType=VARCHAR}, #{codeId,jdbcType=VARCHAR}, #{winningCode,jdbcType=VARCHAR}, 
      #{isWinning,jdbcType=INTEGER}, #{fistTime,jdbcType=TIMESTAMP}, #{searchNumber,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.guardlbt.entity.Winning">
    insert into t_winning
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="codeId != null">
        code_id,
      </if>
      <if test="winningCode != null">
        winning_code,
      </if>
      <if test="isWinning != null">
        is_winning,
      </if>
      <if test="fistTime != null">
        fist_time,
      </if>
      <if test="searchNumber != null">
        search_number,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="codeId != null">
        #{codeId,jdbcType=VARCHAR},
      </if>
      <if test="winningCode != null">
        #{winningCode,jdbcType=VARCHAR},
      </if>
      <if test="isWinning != null">
        #{isWinning,jdbcType=INTEGER},
      </if>
      <if test="fistTime != null">
        #{fistTime,jdbcType=TIMESTAMP},
      </if>
      <if test="searchNumber != null">
        #{searchNumber,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.guardlbt.entity.WinningExample" resultType="java.lang.Long">
    select count(*) from t_winning
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_winning
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.codeId != null">
        code_id = #{record.codeId,jdbcType=VARCHAR},
      </if>
      <if test="record.winningCode != null">
        winning_code = #{record.winningCode,jdbcType=VARCHAR},
      </if>
      <if test="record.isWinning != null">
        is_winning = #{record.isWinning,jdbcType=INTEGER},
      </if>
      <if test="record.fistTime != null">
        fist_time = #{record.fistTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.searchNumber != null">
        search_number = #{record.searchNumber,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_winning
    set id = #{record.id,jdbcType=VARCHAR},
      code_id = #{record.codeId,jdbcType=VARCHAR},
      winning_code = #{record.winningCode,jdbcType=VARCHAR},
      is_winning = #{record.isWinning,jdbcType=INTEGER},
      fist_time = #{record.fistTime,jdbcType=TIMESTAMP},
      search_number = #{record.searchNumber,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.guardlbt.entity.Winning">
    update t_winning
    <set>
      <if test="codeId != null">
        code_id = #{codeId,jdbcType=VARCHAR},
      </if>
      <if test="winningCode != null">
        winning_code = #{winningCode,jdbcType=VARCHAR},
      </if>
      <if test="isWinning != null">
        is_winning = #{isWinning,jdbcType=INTEGER},
      </if>
      <if test="fistTime != null">
        fist_time = #{fistTime,jdbcType=TIMESTAMP},
      </if>
      <if test="searchNumber != null">
        search_number = #{searchNumber,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guardlbt.entity.Winning">
    update t_winning
    set code_id = #{codeId,jdbcType=VARCHAR},
      winning_code = #{winningCode,jdbcType=VARCHAR},
      is_winning = #{isWinning,jdbcType=INTEGER},
      fist_time = #{fistTime,jdbcType=TIMESTAMP},
      search_number = #{searchNumber,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>